body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

h1 {
    color: navy;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: #f5f5f5;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 20px;
}

.text-container {
    flex-grow: 1;
}

.toggle-container {
    text-align: right;
}

.favicon-container {
    display: flex;
    align-items: center;
}

.favicon {
    height: auto;
    width: 55px;
    margin-right: 23px;
    object-fit: contain;
    cursor: pointer;
}

.version-mismatch {
    color: red;
}

.date-passed {
    color: red;
}

.date-valid {
    color: green;
}

.no-wrap {
    white-space: nowrap;
}

.last-updated {
    font-size: 80%;
    font-style: italic;
    text-align: right;
    color: grey;
}

#pollButton {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    cursor: pointer;
}

#pollButton:hover {
    background-color: #f5f5f5;
}


/* Dark mode styles */
body.dark-mode {
    background-color: #333;
    color: #ddd;
}

body.dark-mode .header-container {
    background-color: #222;
}

body.dark-mode table {
    border-color: #555;
}

body.dark-mode td, body.dark-mode th {
    border-color: #555;
    color: #ddd;
}

body.dark-mode a {
    color: #4da6ff;
}

.switch {
    position: absolute;
    right: 0;
    top: 0;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f44336;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #00ff00;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}